.container-film {
  width: 100vw;
  margin-top: 0px;
  display: flex;
  justify-content: none;
}

.box-film {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background: rgb(30, 30, 30);
}

.box-film__content {
  display: flex;
  margin: 30px 30px 20px;
  position: relative;
}

.film__content-img {
  height: 450px;
  width: 300px;
  margin: 0 auto;
}

.box-film-content__text {
  margin-top: 40px;
  margin-left: 60px;
}

.content__text-title {
  color: goldenrod;
  font-size: 60px;
  width: 520px;
}

.content__text-genre {
  color: goldenrod;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.content__text-desc {
  margin: 0;
  color: white;
  margin-top: 20px;
  margin-right: 40px;
  padding: 10px 30px;
  height: 200px;
  font-size: 18px;
}

.box-video {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1062px) {
  .box-video {
    width: calc(1000 / 1062 * 100vw);
    height: calc(500 / 1062 * 100vw);
  }
}

@media screen and (max-width: 1020px) {
  .content__text-title {
    font-size: 50px;
    width: 420px;
  }

  .content__text-genre {
    font-size: 18px;
  }

  .content__text-desc {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 858px) {
  .box-film {
    margin-top: calc(60 / 858 * 100vw);
  }

  .box-film__content {
    margin: calc(30 / 858 * 100vw) calc(30 / 858 * 100vw) 20px;
  }
  
  .film__content-img {
    height: calc(450 / 858 * 100vw);
    width: calc(300 / 858 * 100vw);
  }

  .box-film-content__text {
    margin-top: calc(40 / 858 * 100vw);
    margin-left: calc(60 / 858 * 100vw);
  }

  .content__text-title {
    font-size: calc(50 / 858 * 100vw);
    width: calc(420 / 858 * 100vw);
  }

  .content__text-genre {
    margin-top: calc(20 / 858 * 100vw);
    margin-left: calc(20 / 858 * 100vw);
    font-size: calc(20 / 858 * 100vw);
    margin-bottom: calc(16 / 858 * 100vw);
  }

  .content__text-desc {
    font-size: calc(16 / 858 * 100vw);
    padding: calc(10 / 858 * 100vw) calc(20 / 858 * 100vw);
    margin-top: calc(10 / 858 * 100vw);
    margin-right: calc(20 / 858 * 100vw);
    height: calc(180 / 858 * 100vw);
  }

  /* .box-video {
    width: calc(1000 / 858 * 100vw);
    height: calc(500 / 858 * 100vw);
  }
   */
}

